<h1>测试路由</h1>
<p>测试实例变量在controller与view之间的传递。</p>
<h3><%=@me%>，是从controller中传递过来的</h3>

<a href="/testpages">返回</a>
<%= link_to("返回", :controller => 'welcome', :action => 'index') %>
<br>
<%= link_to "复数形式路由", controller: 'testpages' %>

<br>
<%= link_to("复数形式路由2", :controller => 'testpages') %>